@charset "UTF-8";

@font-face {
    font-display: swap;
    font-weight: 300;
    font-family: 'Roboto';
    font-style: normal;
    src: url(../fonts/Roboto-light.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-weight: 400;
    font-family: 'Roboto';
    font-style: normal;
    src: url(../fonts/Roboto-Regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
    src: url(../fonts/Roboto-Medium.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-weight: 700;
    font-family: 'Roboto';
    font-style: normal;
    src: url(../fonts/Roboto-Bold.woff2) format("woff2")
}

/*Глобальные переменные */
:root{
    /* Шрифты */
    --font-family-roboto: 'Roboto', Arial, Helvetica, sans-serif;
    /* Основные цвета */
    --light-sand: #FFE29D;
    --peeled-almonds: #FCEECF;
    --cosmic-cream: #FFF8E7;
    --purple-white: #FFD3C9;
    --pale-pinkish: #F4ECF6;
    --lavender: #E5E7FA;
    --cornflower-blue: #A5AFFB;
    --pale-blue: #DEEDFA;
    --gray-blue: #CAE5FF;
    --light-blue: #A3BFEF;
    --light-blue-60: rgba(163, 191, 239, 0.6); /*A3BFEF*/
    --heavenly: #82C5FF;
    --diamond-blue: #3A6890;
    --light-steel-blue: #B8D0E0;
    --blue-frost: #E1F1FF;
    --marengo: #4C5866;
    --violet: #6D31EE;
    --transparent-white-60: rgba(255, 255, 255, 0.6);
    --transparent-white-80: rgba(255, 255, 255, 0.8);

    /* Анимация */
    --animation-standart: 0.3s ease;


    /* Дополнительные цвета */
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --black: #000;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #929292;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;

}
  
*,
*::before,
*::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
a, a:focus, a:visited{
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}

ul{  
    padding: 0;
    margin: 0;
    list-style: none;
}
  
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

body{
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    background-color: var(--color-lavender);
}

.hidden{
    position: absolute;
    visibility: hidden;
}

.btn-reset{
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.header__container{
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
    padding: 10px 30px;
    width: 100%;
    height: 95px;
    box-shadow: 0 3px 16px rgba(0,0,0,.5);
    background-color: var(--marengo);
}

.header__logo:focus-visible{
    outline: 1px solid var(--white);
    border-radius: 5px;
}

.header__title{
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 36px;
    color: var(--white);
}

.header__title--short{
    display: none;
}

.header__nav{
    margin-left: 160px;
    font-weight: 700;
    line-height: 1.5em;
    color: var(--marengo)
}

.nav__list{
    display: flex;
    flex-direction: row;
}

.nav__link{
    text-decoration-line: underline;
}

.nav__link:focus{
    color: #41A6FF;
    text-decoration-line: underline;
    outline: none;
}

.nav__link:hover{
    color: #8D8E9A;
    text-decoration-line: underline;
}

.nav__link:active{
    color: #41A6FF;
    text-decoration-line: underline;
}

.nav__arrow{
    margin: 0 7px;
    width: 10px;
}

.nav__arrow svg{
    height: 16px;
}

.main--background{
    background-color: var(--lavender);
}

section{
    padding: 0 142px;
}

.section__line{
    margin: 0;
    background-color: var(--lavender);
    height: 6px;
    border: none;
}

/* Фильтр */

.filter{
    background-color: var(--white);
}

.filter__container{
    margin: 30px 18px;
}

.filter__form{
    display: flex;
    flex-direction: row;
} 

.form__select-wrap{
    position: relative;
}

.form__select-wrap select{
    padding: 20px 20px;
    border-radius: 20px;
    border: none;
    background-color: var( --gray-blue);
    cursor: pointer;

    /* Убираем кастомную стрелку */
    /* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}


.form__select-wrap select:-ms-expand {
	/* IE */
	display: none;
}

.form__select-wrap::after{
    content: '';
    position: absolute;
    top: 25px;
    right: 12px;
    width: 25px;
    height: 12px;
    /* Курсор не реагирует на псевдоэлемент */
    pointer-events: none; 
    background: url(../img/svg/select-arrow.svg);
}

.form__education-level{
    width: 290px;
}

.form__year{
    margin-left: 60px;
    width: 150px;
}

.form__input-container{
    position: relative;
    margin-left: 60px;
}

.form__input, .form__input:active{
    position: relative;
    padding: 20px 20px;
    padding-left: 46px;
    background-color: var(--gray-blue);
    border-radius: 20px;
    border: none;
    outline: 2px solid var(--light-blue);
    outline-offset: -2px;
    transition: background-color var(--animation-standart);
}

.form__input:hover{
    background-color: var(--blue-frost);
}


.form__input:focus{
    outline: 2px solid var(--violet);
}


.form__input-container::before{
    position: absolute;
    content: '';
    top: 20px;
    left: 14px;
    width: 22px;
    height: 22px;
    background-image: url(../img/svg/loupe.svg);
    z-index: 1;
}

.form__btn-sumbit{
    margin-left: 70px;
    padding: 10px 60px;
    font-size: 22px;
    background-color: var(--peeled-almonds);
    outline: 1px solid var(--light-sand);
    outline-offset: -1px;
    border-radius: 45px;
    transition: background-color var(--animation-standart);
}

.form__btn-sumbit:hover{
    background-color: var(--light-sand);
}

.form__btn-sumbit:focus{
    outline-offset: -3px;
    outline: 3px solid var(--purple-white);
}

.form__btn-sumbit:active{
    outline: 1px;
    background-color: var(--purple-white);
    
}



.date{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 10px 5px 2px rgba(0,0,0,.2);
    background-color: var(--white);
    z-index: 1;
}

.date__container, .date__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 626px;
    color: var(--marengo);
}

.date__title{
    font-weight: 700;
    font-size: 36px;
}

.date__description{
    margin-top: 24px;
    padding-top: 15px;
    font-weight: 400;
    font-size: 20px;
    border-top: 6px solid var(--light-blue-60);
}

.date__btn{
    margin: 0 auto;
    margin-top: auto;
}

.date__btn svg path{
    transition: all var(--animation-standart);
}

.date__btn:focus-visible svg path{
    stroke: var(--violet);
}

.date__btn:hover svg path{
    fill: var(--gray-blue);
    stroke: var(--gray-blue);
}


.date__btn:active svg path{
    fill: var(--heavenly);
    stroke: var(--heavenly);
}



/* Область расписания */
.timetable{
    margin-top: 40px;
    color: var(--marengo);
}

.timetable__list-institutes{
   
}

.institutes__item{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    padding: 50px 0;
}

.institutes__item:not(:last-of-type){
    border-bottom: 6px solid var(--lavender);  
}

.item__title-institute{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.item__list-institute{
    /* display: flex;
    flex-wrap: wrap; */
    margin-left: 20px;
    padding: 50px 70px;
    border-left: 3px solid var(--light-steel-blue);
}

.institute__item{
    margin-bottom: 50px;
}




.btn-group{
    display: block;
    padding: 20px 0;   
    font-size: 24px;
    text-align: center;
    color: var(--black) !important;
    background-color: var(--pale-pinkish);
    border-radius: 45px;
    outline: 1px solid var(--cornflower-blue);
    outline-offset: -1px;
    transition: background-color var(--animation-standart);
}

.btn-group:hover{
    background-color: var(--lavender);
}

.btn-group:focus{
    outline-offset: -3px;
    outline: 3px solid var(--cornflower-blue);
    border: none;
}

.btn-group:active{
    outline: 1px;
    background-color: var(--cornflower-blue);
}

/* .btn-group{
    display: block;
    padding: 20px 0;   
    font-size: 24px;
    text-align: center;
    background-color: var(--pale-pinkish);
    border-radius: 45px;
    border: 1px solid var(--cornflower-blue);
} */

/* .btn-group {
    display: block;
    border-radius: 45px;
    padding: 1em 2em;
    background: linear-gradient(168deg, var(--pale-pinkish), var( --cornflower-blue));
    border: none;
    color: #3b4550;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
    -webkit-transition: background 2s ease-out;  
    -moz-transition: background 2s ease-out;  
    -o-transition: background 2s ease-out;  
    transition: background 2s ease-out;  
}
   
.btn-group:hover,
.btn-group:focus {
    background: linear-gradient(117deg, var( --cornflower-blue), var(--pale-pinkish));
    background-position: top;
    box-shadow: 0 0.1rem 0.8rem #8B96EE;
} */



/* На странице с расписанием */
.timetable-group{
    padding: 0;
    min-height: 90vh;
    background-color: var(--lavender);
}


.timetable__list-container{
    margin-top: -40px;
    background-color: var(--transparent-white-80);
    border-radius: 0 0 45px 45px;
    box-shadow: 0 3px 10px rgba(0,0,0,.5)
}

.timetable__list-names{
    display: flex;
}


.timetable-names__item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    height: 78px;
    /* border-left: 3px solid var(--light-blue); */
}

.timetable-names__item:nth-last-of-type(2n+1){
    background-color: var(--pale-blue);
}

.timetable-names__item:last-of-type{
    border-radius: 0 0 45px 0;
}

.timetable-name__description{
    font-size: 20px;
    color: var(--black);
}

.timetable__list-weekdays{
    margin-top: 20px;
    padding-bottom: 130px;
}

/* Занятия по дням */
.weekdays__item{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    /* padding: 32px 0; */
    /* padding: 32px 42px; */
    background-color: var(--transparent-white-60);
    border-radius: 70px;
    box-shadow: 0 0px 8px rgba(0,0,0,.5)
}

.day__container{
    /* margin-right: 32px;
    min-width: 194px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: var(--diamond-blue);
}

/* Первая буква дней недели заглавная */
.day__title:first-letter{
    text-transform: uppercase;
}



.day__list{

}

.day__item{
    padding: 0;
}


.lesson__list{
    display: flex;
    flex-direction: row;
}

.lesson__list:not(:first-of-type){
    border-top: 3px solid var(--light-blue);
}

.lesson__item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 15px;
    text-align: center;
    font-size: 20px;
    color: var(--black);
    /* border-left: 3px solid var(--light-blue); */
}

.item-type__description{
    display: none;
}

.lesson__item:nth-of-type(2n+1){
    background-color: var(--pale-blue);
}

.lesson__list:first-of-type .lesson__item{
    padding-top: 32px;
}

.lesson__list:last-of-type .lesson__item{
    padding-bottom: 32px;
}

.lesson__list:first-of-type .lesson__item:last-of-type{
    border-top-right-radius: 70px;
}

.lesson__list:last-of-type .lesson__item:last-of-type{
    border-bottom-right-radius: 70px;
}

.lesson__item-time, .lesson__item-room{
    color: var(--diamond-blue);
}

.lesson__item:not(:nth-last-of-type(5)){
    justify-content: center;
    text-align: center;
}

.lesson__item-link svg path, .lesson__item-link svg circle{
    stroke: #858fcc;
}

.lesson__item-link:focus{
    outline: none;
}

.lesson__item-link svg path, .lesson__item-link svg circle{
    transition: all var(--animation-standart);
}

.lesson__item-link:hover svg path, .lesson__item-link:hover svg circle{
    stroke: var(--violet);
}

.lesson__item-link:focus-visible svg path, .lesson__item-link:focus-visible svg circle{
    stroke: var(--violet);
}

.lesson__item-link:active svg path, .lesson__item-link:active svg circle{
    stroke: var(--heavenly);
}





/* Подвал */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* .no-fixed{
    position: static;
} */

.footer__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 120px;
    height: 100%;
    background-color: var(--marengo);
}

.footer__title{
    line-height: 1.2em;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
}

.footer__description{
    font-weight: 500;
}

.footer__link-container{
    margin-left: auto;
}

.footer__link:not(:first-of-type){
    margin-left: 30px;
}

.footer__link:focus{
    outline: none;
}

.footer__link svg path{
    transition: all var(--animation-standart);
}

.footer__link:hover svg path{
    fill: #FFD3C9;

}
/* sutd */

.link-sutd:active svg path, .link-sutd:focus-visible svg path{
    fill: #FFEF63;
}

/* vk */
.link-vk:active svg path, .link-vk:focus-visible svg path{
    fill: #06D5E2;
}
/* youtube */

.link-youtube:active svg path, .link-youtube:focus-visible svg path{
    fill: #FB4C69;
}

.footer__container--short{
    display: none;
}



@media (min-width: 1400px){
    .timetable-group__container{
        max-width: 1616px;
    }

    .timetable__list-institutes{
        max-width: 1920px;
    }
}


@media (max-width: 1400px){
    .day__container{
        font-size: 22px;
    }
    
}


@media (max-width: 1200px){
    .day__container{
        font-size: 20px;
    }

    .item-type__description{
        display: none;
    }

    .footer__container{
        padding: 10px 35px;
        font-weight: 600;
    }
}


@media (max-width: 990px){
    .header__container{
        align-items: center;
        height: 100%;
    }

    .header__logo img{
        width: 54px;
        height: 42px;
    }

    .header__title{
        margin-top: 0;
        font-size: 18px;
    }

    .header__nav{
        margin-left: 30px;
    }

    .date__container, .date__description{
        min-width: 350px;
    }

    .day__title{
        font-size: 24px;
    }
    .timetable__list-container{
        display: none;
    }

    .weekdays__item{
        padding: 0;
        padding-top: 25px;
        border-radius: 30px;
    }

    .day__container{
        margin-left: 20px;
        padding: 10px 15px;
        
        border-radius: 2px;
        font-size: 20px;
        font-weight: 400;
        color: var(--white);
        background-color: var(--diamond-blue);
    }

    .lesson__list:first-of-type .lesson__item, .lesson__item{
        padding-top: 10px;
    }

    .lesson__item-link svg{
        width: 28px;
    }

    .lesson__list{
        margin-top: 24px;    
    }

    .lesson__list:not(:first-of-type){
        border: none;
    }

    .lesson__item-time{
        font-weight: 600;
    }

    .item-time__br{
        display: none;
    }

    .lesson__item{
        align-items: end;
    }

    .lesson__item:not(:first-of-type){
        background-color: var(--pale-blue);
    }
    
    .lesson__item:first-of-type{
        font-size: 16px;
        background-color: inherit;
    }
    
    .lesson__item:not(:nth-last-of-type(5)), .lesson__item {
        justify-content: flex-start;
        text-align: left;
        padding-left: 20px;
    }

    .lesson__item-description{
        font-weight: 500;
    }

    .lesson__item-room {
        justify-content: flex-end !important;
    }

    .lesson__item-map{
        position: relative;
        align-items: end;
    }

    .lesson__item-link{
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

    .lesson__list:first-of-type .lesson__item:last-of-type{
        border-radius: inherit;
    }

    .lesson__list:last-of-type .lesson__item{
        padding-bottom: 14px;
        text-align: start;
    }

    .lesson__list:last-of-type .lesson__item:last-of-type{
        border-bottom-right-radius: 30px;
    }


    .lesson__list:last-of-type .lesson__item-type{
        border-bottom-left-radius: 30px;      
    }

    .item-type__description{
        display: inline;
    }

    .lesson__list:last-of-type .lesson__item-link{
        bottom: 21px;     
    }
    
    .lesson__list:last-of-type .lesson__item:nth-of-type(n+3){
        padding-bottom: 30px;
    }

    .footer__link svg{
        height: 27px;
    }

    .footer__link:not(:first-of-type){
        margin-left: 10px;
    }
}



@media (max-width: 574px){

    .header__container{
        margin-bottom: 20px;
    }

    .nav__item{
        font-size: 14px;
    }

    .container{
        width: 95%;
    }

    .date{
        padding: 15px 0;
    }

    .date__description {
        margin-top: 5px;
        border-top: 2px solid var(--light-blue-60);
    }
    
    .date__title{
        font-size: 20px;
    }

    .date__description{
        font-size: 12px;
    }

    .date__btn svg{
        width: 24px;
        height: 39px;
    }

    .timetable__list-weekdays{
        padding-bottom: 90px;
    }

    .weekdays__item{
        border-radius: 5px;
    }

    .lesson__list:last-of-type .lesson__item:last-of-type {
        border-bottom-right-radius: 5px;
    }
    
    .lesson__list:last-of-type .lesson__item-type {
        border-bottom-left-radius: 5px;
    }
    
    .day__title{
        font-size: 16px;
    }
    
    .day__description{
        font-size: 14px;
    }

    .lesson__item{
        font-size: 12px;
    }

    .day__list{
        padding: 0;
    }

    .lesson__item-description{
        font-size: 14px;
    }

    .lesson__item-link svg{
        width: 16px;
        height: 20px;
    }

    .lesson__list:first-of-type .lesson__item, .lesson__item {
        padding: 5px 0;
        padding-left: 15px;
    }

    .lesson__item-link{
        bottom: -10px;
    }

    .lesson__item-link{
        position: absolute;
        bottom: 5px;
        left: 5px;
    }

    .lesson__item:not(:nth-last-of-type(5)), .lesson__item{
        padding-left: 15px;
    }

    .footer__title{
        display: none;
    }

    .footer__link svg{
        height: 17px;
        width: 17px;
    }

    .link-youtube svg{
        width: 21px;
    }

    .footer__link:not(:first-of-type){
        margin-left: 10px;
    }

    .footer__container--short{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer__logo--short img{
        width: 32px;
        height: 25px;
    }

    .footer__title--short{
        margin-left: 10px;
        line-height: 1.2em;
        font-size: 16px;
        font-weight: 700;
        color: var(--white);
    }   
}

@media (max-width: 500px){

    .header__container{
        padding: 10px;
    }

    .header__title{
        display: none;
    }

    .header__title--short{
        display: inline;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
        color: var(--white);  
    }

    .header__nav{
        margin-left: 10px;
    }

    .nav__item {
        font-size: 12px;
    }

    .nav__arrow{
        margin: 0 3px;
    }

    .nav__arrow svg{
        height: 12px;
    }

    .date__container, .date__description {
        min-width: auto;
    }

    .day__container{
        margin-left: calc(var(--bs-gutter-x) * .5);
    }

    .day__list{
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    .lesson__list:first-of-type .lesson__item, .lesson__item {
        padding-left: 5px;
    }

    .lesson__item:not(:nth-last-of-type(5)), .lesson__item{
        padding-left: 5px;
    }

    .lesson__list:last-of-type .lesson__item:nth-of-type(n+3) {
        padding-bottom: 20px;
    }

    .lesson__list:last-of-type .lesson__item-link{
        bottom: 20px;
    }

}
